@import url("style.css");

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0faff;
}
.wrapper {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  background: var(--second-color);
  text-align: center;
}


.signin{
    gap: 1rem;
    bottom: 5rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
}

.signin h1{
    font-size: 2.5rem;
}

.signin input{
    padding: 0.4rem;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
}

.signin .text {
    width: 100%;
}

.signin .btn {
    flex: 1 1 7rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    background: #474fa0;
    color: #fff;
    width: 100%;
}

.signin .btn:hover{
    background: var(--main-color);
}

